@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "reboot";
@import "variables";
@import "keyframes";
@import "fonts";
@import "mainScreen";
@import "login";
@import "directory";

html {
  font-size: 0.1vw;
}

body {
  background-color: $gray-900;
  font-family: "Raleway", sans-serif;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba($gray-900, .3);
  -webkit-box-shadow: 0 0 0 200rem $main-white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.login-button {
  font-size: 0.1vw;
  position: fixed;
  top: 10em;
  right: 10em;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
  transition: background-color .3s $main-timing-function;
}

.cursor-shadow {
  position: absolute;
  width: 600rem;
  height: 600rem;
  top: -300rem;
  left: -300rem;
  background: radial-gradient($gray-900, transparent, transparent);
  pointer-events: none;
  opacity: 0;
}

.cursor-shadow.show-always {
  width: 2000rem;
  height: 2000rem;
  top: -1000rem;
  left: -1000rem;
  opacity: 1;
  border-radius: 0;
  background: $main-white;
}

.main-container.mouse-moved:hover {
  .cursor-shadow {
    opacity: 1;
  }

  .cursor-shadow.show-always {
    background: radial-gradient(transparent 0%, $main-white 15%, $main-white 30%);
  }
}

@media only screen and (max-width: 1000px) {
  .login-button {
    font-size: 1px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.2vw;
  }
}

@media only screen and (max-width: 530px) {
  .login-button {
    font-size: 0.1887vw;
  }
}